.activity-list {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.activity-list h3 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #474646;
}

.activity-items {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.activity-item {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;
    background-color: #f9f9f9; /* светлый фон карточки */
    border-radius: 6px;
    font-family: monospace;
    font-size: 14px;
    color: #000; /* текст транзакции чёрный */
}

.activity-item .hash {
    flex: 2;
    color: #000; /* хэш чёрный */
}

.activity-item .amount {
    flex: 1;
    text-align: right;
    color: #000; /* сумма чёрная */
}

.activity-item .date {
    flex: 1;
    text-align: right;
    color: #000; /* дата чёрная */
}
